* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* share-style */
.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #30b868;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
}

.s-btn {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid white;
  margin-left: 16px;
}

/* nav-section css */
#nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 130px;
}

.navigation-container {
  display: flex;
  gap: 32px;
}

.nav-img {
  padding: 16px 0px;
}

.navigation-container p {
  cursor: pointer;
  align-items: center;
  padding: 34px 0px;
}

.nav-button {
  padding: 25px 0px;
}

/* first-main-section-css */
#main-one {
  background: url(../image/hero-bg.png);
  width: 1600px;
  height: 674px;
}

#main-one .hero-container {
  padding: 70px 120px 134px 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-container h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
}

.hero-container h1 span {
  color: #30b868;
}

.hero-container p {
  color: white;
  line-height: 30px;
}

.hero-button {
  background-color: white;
  border: none;
  border-radius: 40px;
  padding: 8px 12px;
  color: #30b868;
}


/* second-main-section-css */

#main-two{
  padding-top: 120px;
}

.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-container h1{
  font-size: 48px;
  font-weight: bold;
}
.text-container p{
  font-size: 16px;
  color: rgba(128, 128, 128, 0.79);
}

.image-container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 100px 120px 0px 120px;
}

.image-container img{
  background-color: #F95555;
  border-radius: 100px;
  padding: 14px;
  margin: 0 auto;
}

.image-container h4{
  font-size: 24px;
  margin: 16px 0px;
}

.image-container p{
  color: gray;
}

/* third-main-section-css */

.third-container{
  padding: 130px;
  display: flex;
  justify-content: space-between;
}

.third-text{
  margin-top: 120px;
}


.third-text h6 {
font-size: 18px;
color: #30b868;
}
.third-text h1{
  font-size: 48px;
  font-weight: bold;
  margin-top: 16px;
}

.third-text h4{
  font-size: 16px;
  color: grey;
  margin-top: 16px;
  margin-bottom: 40px;
}

.third-text p{
font-size: 18px;
margin-bottom: 16px ;
}

.third-text p i{
  color: #30b868;
}

/* fourth-main-section-css */

#main-fourth{
  padding-bottom: 120px;
  margin: 0px 120px;
}

.fourth-container{
  background-color: #F7F6F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fourth-container h1{
  font-size: 40px;
  font-weight: bold;
  padding-top: 80px;
margin-bottom: 16px;
}

.fourth-container p{
  color: gray;
  margin-bottom: 24px;
  text-align: center;
}
.fourth-container h6{
  color: gray;
  padding-bottom: 80px;
  margin-top: 16px;
  
}

